# Configuration for a PNA node monitoring

PNA_IFACE="eth0"               # Interface(s) for PNA to listen on
PNA_LOGDIR="${PNA_DIR}/logs"  # Directory to store log files

# Domains to listen on are defined in domains

# Advanced PNA configuration
PNA_FLOWPROCS=(7)              # Processors for flow processing (not real-time)
#PNA_MONPROCS=(0 2 4 6)        # Processors for userspace routines
