### vim ###
*.un~
Session.vim
.netrwhist
*~
*.swp

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.egg-info/
.installed.cfg
*.egg

# PyCharm
.idea
*.iml

index.html
.coverage

images/iso/*.iso
packaging/output/
packaging/root/opt/obsrvbl-ona/netflow/
packaging/root/opt/obsrvbl-ona/ipfix/
packaging/root/opt/obsrvbl-ona/ona_service/
packaging/root/opt/obsrvbl-ona/pna/
packaging/root/opt/obsrvbl-ona/version
packaging/root/opt/obsrvbl-ona/system/python-packages/*
!packaging/root/opt/obsrvbl-ona/system/python-packages/LICENSE*
